@charset "utf-8";

/*Pretendard*/
@font-face {
    font-family: 'Pretendard';
    font-weight: 100;
    font-style: normal;
    src: local('Pretendard Thin'),
        url('../fonts/Pretendard/Pretendard-Thin.eot') format('embedded-opentype'),
        url('../fonts/Pretendard/Pretendard-Thin.woff2') format('woff2'),
        url('../fonts/Pretendard/Pretendard-Thin.woff') format('woff'),
        url('../fonts/Pretendard/Pretendard-Thin.ttf') format("truetype");
    font-display: auto;
}
@font-face {
    font-family: 'Pretendard';
    font-weight: 200;
    font-style: normal;
    src: local('Pretendard ExtraLight'),
        url('../fonts/Pretendard/Pretendard-ExtraLight.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Pretendard/Pretendard-ExtraLight.woff2') format('woff2'),
        url('../fonts/Pretendard/Pretendard-ExtraLight.woff') format('woff'),
        url('../fonts/Pretendard/Pretendard-ExtraLight.ttf') format("truetype");
    font-display: auto;
}
@font-face {
    font-family: 'Pretendard';
    font-weight: 300;
    font-style: normal;
    src: local('Pretendard Light'),
        url('../fonts/Pretendard/Pretendard-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Pretendard/Pretendard-Light.woff2') format('woff2'),
        url('../fonts/Pretendard/Pretendard-Light.woff') format('woff'),
        url('../fonts/Pretendard/Pretendard-Light.ttf') format("truetype");
    font-display: auto;
}
@font-face {
    font-family: 'Pretendard';
    font-weight: 400;
    font-style: normal;
    src: local('Pretendard Regular'),
    	url('../fonts/Pretendard/Pretendard-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Pretendard/Pretendard-Regular.woff2') format('woff2'),
        url('../fonts/Pretendard/Pretendard-Regular.woff') format('woff'),
        url('../fonts/Pretendard/Pretendard-Regular.ttf') format("truetype");
    font-display: auto;
}
@font-face {
    font-family: 'Pretendard';
    font-weight: 500;
    font-style: normal;
    src: local('Pretendard Medium'),
    	url('../fonts/Pretendard/Pretendard-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Pretendard/Pretendard-Medium.woff2') format('woff2'),
        url('../fonts/Pretendard/Pretendard-Medium.woff') format('woff'),
        url('../fonts/Pretendard/Pretendard-Medium.ttf') format("truetype");
    font-display: auto;
}
@font-face {
    font-family: 'Pretendard';
    font-weight: 600;
    font-style: normal;
    src:local('Pretendard SemiBold'),
        url('../fonts/Pretendard/Pretendard-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Pretendard/Pretendard-SemiBold.woff2') format('woff2'),
        url('../fonts/Pretendard/Pretendard-SemiBold.woff') format('woff'),
        url('../fonts/Pretendard/Pretendard-SemiBold.ttf') format("truetype");
    font-display: auto;
}
@font-face {
    font-family: 'Pretendard';
    font-weight: 700;
    font-style: normal;
    src:local('Pretendard Bold'),
        url('../fonts/Pretendard/Pretendard-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Pretendard/Pretendard-Bold.woff2') format('woff2'),
        url('../fonts/Pretendard/Pretendard-Bold.woff') format('woff'),
        url('../fonts/Pretendard/Pretendard-Bold.ttf') format("truetype");
    font-display: auto;
}
@font-face {
    font-family: 'Pretendard';
    font-weight: 800;
    font-style: normal;
    src: local('Pretendard ExtraBold'),
        url('../fonts/Pretendard/Pretendard-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Pretendard/Pretendard-ExtraBold.woff2') format('woff2'),
        url('../fonts/Pretendard/Pretendard-ExtraBold.woff') format('woff'),
        url('../fonts/Pretendard/Pretendard-ExtraBold.ttf') format("truetype");
    font-display: auto;
}
@font-face {
    font-family: 'Pretendard';
    font-weight: 900;
    font-style: normal;
    src: local('Pretendard Black'),
        url('../fonts/Pretendard/Pretendard-Black.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Pretendard/Pretendard-Black.woff2') format('woff2'),
        url('../fonts/Pretendard/Pretendard-Black.woff') format('woff'),
        url('../fonts/Pretendard/Pretendard-Black.ttf') format("truetype");
    font-display: auto;
}



/* NotoSansKR */
@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 300;
    src: local('Noto Sans Light'), local('NotoSans-Light'),
    url(../fonts/NotoSansKR/NotoSans-Light.eot),
    url(../fonts/NotoSansKR/NotoSans-Light.eot?#iefix) format('embedded-opentype'),
    url(../fonts/NotoSansKR/NotoSans-Light.woff) format('woff'),
    url(../fonts/NotoSansKR/NotoSans-Light.otf) format('opentype');
}

@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 350;
    src: local('Noto Sans DemiLight'), local('NotoSans-DemiLight'),
    url(../fonts/NotoSansKR/NotoSans-DemiLight.eot),
    url(../fonts/NotoSansKR/NotoSans-DemiLight.eot?#iefix) format('embedded-opentype'),
    url(../fonts/NotoSansKR/NotoSans-DemiLight.woff) format('woff'),
    url(../fonts/NotoSansKR/NotoSans-DemiLight.otf) format('opentype');
}

@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 400;
    src: local('Noto Sans Regular'), local('NotoSans-Regular'),
    url(../fonts/NotoSansKR/NotoSans-Regular.eot),
    url(../fonts/NotoSansKR/NotoSans-Regular.eot?#iefix) format('embedded-opentype'),
    url(../fonts/NotoSansKR/NotoSans-Regular.woff) format('woff'),
    url(../fonts/NotoSansKR/NotoSans-Regular.otf) format('opentype');
}

@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 500;
    src: local('Noto Sans Medium'), local('NotoSans-Medium'),
    url(../fonts/NotoSansKR/NotoSans-Medium.eot),
    url(../fonts/NotoSansKR/NotoSans-Medium.eot?#iefix) format('embedded-opentype'),
    url(../fonts/NotoSansKR/NotoSans-Medium.woff) format('woff'),
    url(../fonts/NotoSansKR/NotoSans-Medium.otf) format('opentype');
}

@font-face {
    font-family: 'Noto Sans KR';
    font-style: bold;
    font-weight: 600;
    src: local('Noto Sans Bold'), local('NotoSans-Bold'),
    url(../fonts/NotoSansKR/NotoSans-Bold.eot),
    url(../fonts/NotoSansKR/NotoSans-Bold.eot?#iefix) format('embedded-opentype'),
    url(../fonts/NotoSansKR/NotoSans-Bold.woff) format('woff'),
    url(../fonts/NotoSansKR/NotoSans-Bold.otf) format('opentype');
}

@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 900;
    src: local('Noto Sans Black'), local('NotoSans-Black'),
    url(../fonts/NotoSansKR/NotoSans-Black.eot),
    url(../fonts/NotoSansKR/NotoSans-Black.eot?#iefix) format('embedded-opentype'),
    url(../fonts/NotoSansKR/NotoSans-Black.woff) format('woff'),
    url(../fonts/NotoSansKR/NotoSans-Black.otf) format('opentype');
}

